@font-face {
    font-family: Lounge;
    src: url(../Assets/Font/Lounge.otf);
}
html {
    scroll-behavior: smooth;
}
body{
    margin:0px;
    color: white;
    background-color: #101010;
    font-family: Lounge;
}
.izq{
    background-color: #1A1A1A;
    display: flex;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-variant: small-caps;
}
.der{
    background-color: #111111;
    display: flex;
    flex-direction: column;
}
.general{
    display: flex;
}
.imgpic{
    border-radius: 50%;
    border: 8px solid greenyellow;
    width: 75px;
}
li{
    list-style: none;
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    margin: 7px 0px;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: rgb(130, 158, 88);
}
.menu{
    width: 200px;
}
.contactodiv{
    display: flex;
    max-width: 700px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
form{
    display: flex;
    flex-direction: column;
    width: 375px;
    gap: 10px;
}
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactoflex{
    display: flex;
    flex-direction: column;
}
.formacioncard{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-left: 4px solid greenyellow;
    padding-left: 30px;
}
.formacion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
i{
    color: greenyellow;
}
.verde{
    color: greenyellow;
}
.sobremicard{
    background-color: #333333;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sobremicartas{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.sobremidatos{

}
.sobremid{
    display: flex;
}
.primerbox{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.imgport{
    width: 250px;
    height: 125px;  
    transition: transform 0.5s ease;
    object-fit: cover;
}
.imgport:hover{
    transform: scale(1.2);
}
.xd{
    display: flex;
    width: 0%;
}

h2{
    padding-top: 100px;
}
.botonsm{
    background-color: #333333;
    padding: 6px 16px;
    width: 77px;
    border-radius: 15px;
}
.botonsm:hover{
    background-color: rgb(130, 158, 88);;
}
.arriba{
    position: fixed;
    top: 90%;
    left: 95%;
    z-index: 1;
    transition: transform 0.25s ease-in;
}
.arriba:hover{
    transform: scale(1.2);
}
.big{
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.cv{
    background-color: #333333;
    padding: 7px 30px;
    border-radius: 15px;
}
.cv:hover{
    background-color: rgb(130, 158, 88);
}
.enviar {
    background-color: #333333;
    padding: 7px 30px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.enviar:active{
    border: 2px solid rgb(130, 158, 88);
}
.button-container {
    display: flex;
    justify-content: flex-start; 
}
input:focus{
    border: 2px solid rgb(130, 158, 88);
    outline: 2px solid white;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
textarea:focus{
    border: 2px solid rgb(130, 158, 88);
    outline: 2px solid white;
}