body{
    margin:0px;
    color: white;
    background-color: #101010;
}
.izq{
    background-color: #181818;
    display: flex;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-variant: small-caps;
}
.der{
    background-color: #101010;
    display: flex;
    /* padding: 40px; */
    flex-direction: column;
}
.general{
    display: flex;
}
.imgpic{
    border-radius: 50%;
    border: 8px solid greenyellow;
    width: 75px;
}
li{
    list-style: none;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 7px 0px;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
a{
    width: 100%;
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: #696969;
}
.menu{
    width: 200px;
}
.contactodiv{
    display: flex;
    max-width: 700px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
form{
    display: flex;
    flex-direction: column;
    width: 375px;
    gap: 10px;
}
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactoflex{
    display: flex;
    flex-direction: column;
}
.formacioncard{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-left: 4px solid greenyellow;
    padding-left: 30px;
}
.formacion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
i{
    color: greenyellow;
}
.verde{
    color: greenyellow;
}
.sobremicard{
    background-color: grey;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sobremicartas{
    display: flex;
    gap: 10px;
}
.sobremidatos{

}
.sobremid{
    display: flex;
}
.primerbox{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}